# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Etc
*.opendb
*.db
.vs
DesignPatternStudy4th/x64/
x64/
DesignPatternStudy4th/Debug/
Debug/
DesignPatternStudy4th/Release/
Release/